<h1>Profile</h1>

<div>
    <label>Name: </label>
    <%= user.name  %>
</div>

<div>
    <label>Email Address: </label>
    <%= user.emailAddress %>
</div>

<a href="/auth/signout"><button>Sign Out</button></a>
<a href="edit"><button>Edit</button></a>
