<h1>Profile</h1>


<div>
    <label>Name: </label>
    <%= User.name %>
</div>

<div>
    <label>Email Address: </label>
   <%= User.emailAddress%>
</div>

<div>
    <label>favourites: </label>
    <!-- show the  favourites-->
    <!-- <%= for (let index = 0; index < array.length; index++) {
        const element = array[index];    
    } -->

</div>

    <button type="submit">Edit Profile</button>
