<h1>Profile</h1>

<a href="/auth/signout"><button>Sign Out</button></a>
<div>
    <label>Name: </label>
    <%= user.name  %>
</div>

<div>
    <label>Email Address: </label>
    <%= user.emailAddress %>
</div>

<!-- <div>
    <label>favourites: </label>
     <! show the favourites -->
    <!-- <p name="favourites" >
    
        </p>
    
</div>  -->

<a href="profile/edit?id=<%=user._id%>"><button>Edit</button></a>
