<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comics Website</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="#">Profile</a>
        <a href="#">List</a>
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/signin">Sign In</a>
        
    </nav>
    <hr>

    <%- body %>
    <br><hr>
    Footer Layout Page
</body>
</html>