.tableStriped{
border: 2px solid black;
border-collapse: collapse;
}

th{
border: 1px solid black;
border-collapse: collapse;
padding: 10px;
text-align: center;
}

td{
border: 1px solid black;
border-collapse: collapse;
padding: 10px;
text-align: center;
}


