<!-- ALL COMICS BY ALL USERS -->
<h1>Comic</h1>

<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>

<% comics.forEach(function(comic){ %> 
    <tr>
        <td>
        <a href="/comic/detail?id=<%= comic._id %>">
            <%= comic.title%> </a></td>
        <td><%= comic.user.name %></td>
    </tr>
<% }) %>
</table>
