<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comics Website</title>
</head>

<body>
   <div class="mainpic">
    <p>Check out the latest updates of your<br>favourite web comics!</p>
    <button class="readbtn">Start Reading</button>
   </div>
<br>
   <div class="third">
    <h2 style="color:#480CA8">Popular Webcomics</h2>
    <br>
    <div class="sections">
        <table>
            <tr>
                <th style="border: 1px solid rgba(0, 0, 0, 0.04); height: 250px; width: 250px; background-image: url('/public/uploads/image_1677724304602.jpg'); background-size: cover;"></th>
            </tr>
            <tr>
                <td style="border: 1px solid rgba(0, 0, 0, 0.1); height: 50px; background-color: #edefed;">The Guy Upstairs</td>
            </tr>
        </table>
    
        <table>
            <tr>
                <th style="border: 1px solid rgba(0, 0, 0, 0.04); height: 250px; width: 250px; background: url('/public/uploads/image_1677724345607.jpg'); background-size: cover;"></th>
            </tr>
            <tr>
                <td style="border: 1px solid rgba(0, 0, 0, 0.1); height: 50px; background-color: #edefed;">Purple Hyacinth</td>
            </tr>
        </table>
    
        <table>
            <tr>
                <th style="border: 1px solid rgba(0, 0, 0, 0.04); height: 250px; width: 250px; background-image: url('/public/uploads/image_1677724384780.jpg'); background-size: cover;"></th>
            </tr>
            <tr>
                <td style="border: 1px solid rgba(0, 0, 0, 0.1); height: 50px; background-color: #edefed;">Noblesse</td>
            </tr>
        </table>
        <table>
            <tr>
                <th style="border: 1px solid rgba(0, 0, 0, 0.04); height: 250px; width: 250px; background-image: url('/public/uploads/image_1677731738716.jpg'); background-size: cover;"></th>
            </tr>
            <tr>
                <td style="border: 1px solid rgba(0, 0, 0, 0.1); height: 50px; background-color: #edefed;">The Gamer</td>
            </tr>
        </table>
    </div>
    </div>
    <footer>
        <p style="font-weight: 200; font-size: 15px; padding-top: 40px;">©2023 Webcomics</p>
    </footer>
</body>

</html>